.background-purple{
    background-color:#6A5ACD;
}
.background-pink{
    background-color:#b897d3;
}
.background-red{
    background-color:#e7f0d3;
}
.w-800{
    width:800px;
}
.h-400{
    height: 400px;
}